[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
opencv-python = "*"
scikit-image = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
mahotas = "*"
ipykernel = "*"
lightgbm = "*"
xgboost = "==0.90"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
